language: python
python:
    - 2.7
install:
    - pip install -r requirements.txt
    - pip install coveralls
    - ./manage.py migrate  # unfortunately needed for Constance
env:
    - DEBUG=1
script:
    coverage run --source='.' ./manage.py test
after_success:
    coveralls
