language: python
python:
    - 2.7
install:
    - pip install -r requirements.txt
    - pip install coveralls
script:
    DEBUG=1 coverage run --source='.' ./manage.py test
after_success:
    coveralls
